table{border:2px solid green; border-collapse:collapse;}

td.pieza{
    background-image:url(../assets/Fotos_mujeres/transparente.png);  
    background-repeat: no-repeat;
    transition:.3s ease-in-out; 
    -moz-transition:.3s ease-in-out; 
    -webkit-transition:.3s ease-in-out; 
    -o-transition:.3s ease-in-out; 
    cursor:pointer;}

div.posic{ display: none;background:#FFF; padding:5px; border:1px solid #00e800; width:150px; position:absolute; top:70px; overflow:auto; min-height:5px; max-height:250px}
